<div class="heading-component" [ngClass]="{ 'center': isCenter }">

    <div class="cnc-back" (click)="goBack()" *ngIf="showBackButton">
        <i class="fa-solid fa-arrow-left"></i>
        <span>{{ buttonText }}</span>
    </div>

    <div class="heading-wrapper" *ngIf="heading">
        <h4 class="heading-h4" [style.font-size]="headingFontSize" [style.color]="headingColor">
            {{ heading }}
        </h4>


        <span *ngIf="showInfo" class="info-icon" [title]="infoTooltip">
            &#9432;
        </span>
    </div>

    <p class="sub-heading" *ngIf="subHeading" [style.font-size]="subHeadingFontSize" [style.color]="subHeadingColor">
        {{ subHeading }}
    </p>
    
</div>