.topbar{background:#fff;border-bottom:1px solid #e2e8f0;display:flex;align-items:center;padding:15px 14px;gap:10px}
.logo{font-size:20px;font-weight:700;color:var(--brand-color)}

.tr{margin-left:auto;display:flex;gap:6px;align-items:center}
.av{width:35px;height:35px;border-radius:50%;background:#2563eb;color:#fff;display:flex;align-items:center;justify-content:center;font-size:15px;font-weight: bolder;}
.lay{display:flex;min-height:100vh}
app-search-bar {
  flex: 1;
  max-width: 400px;
}