<div >
  <div class="user-card">

    <div class="header">
      <div class="avatar">{{ user?.firstName | profile }}</div>
      <div>
        <h3>{{ user.firstName +  user?.lastName }}</h3>
        <p>
          {{ user.email }} &nbsp;•&nbsp;
          <span [ngClass]="user.active ? 'status active' : 'status deactivated'">
            {{ user.active ? 'Active' : 'Deactivated' }}
          </span>
        </p>
      </div>
    </div>

    <hr>
    <div class="grid">
      <div class="form-group">
        <label>Current Role</label>
        <span class="role">{{ user.roleName }}</span>
      </div>
      <div class="form-group">
        <label>Assigned</label>
        <span class="role">{{ user.assignedAt | date:'dd-MM-yyyy hh:mm a' }}</span>
      </div>
      <div class="form-group">
        <label>Assigned By</label>
        <span class="role">{{ user.assignedBy }}</span>
      </div>
    </div>


    <!-- Form -->
    <form [formGroup]="form">
      <div class="grid">

        <!-- Business Unit -->
        <!-- Business Unit -->
        <div class="field form-group">
          <label>Business Unit <span class="astrick">*</span></label>
          <select formControlName="businessUnit" [attr.disabled]="!businessUnits.length ? true : null">
            <option value="" disabled selected>
              {{ businessUnits.length ? 'Select business unit' : 'No business units available' }}
            </option>
            <option *ngFor="let b of businessUnits" [value]="b?.id">{{ b?.name }}</option>
          </select>
          <span class="no-data" *ngIf="!businessUnits.length">
            <i class="fa-solid fa-circle-exclamation"></i> No business units present
          </span>
          <div class="error" *ngIf="c('businessUnit')?.touched">
            <span *ngIf="c('businessUnit')?.hasError('required')">Business unit is required</span>
          </div>
        </div>

        <!-- Department -->
        <div class="field form-group">
          <label>Department / Team <span class="astrick">*</span></label>
          <select formControlName="department" [attr.disabled]="!departments.length ? true : null">
            <option value="" disabled selected>
              {{ !businessUnits.length ? 'No business units available' : !departments.length ? 'No departments available' : 'Select department' }}
            </option>
            <option *ngFor="let d of departments" [value]="d?.id">{{ d?.name }}</option>
          </select>
          <span class="no-data" *ngIf="c('businessUnit')?.value && !departments.length">
            <i class="fa-solid fa-circle-exclamation"></i> No departments present
          </span>
          <div class="error" *ngIf="c('department')?.touched">
            <span *ngIf="c('department')?.hasError('required')">Department is required</span>
          </div>
        </div>

        <!-- Role -->
        <div class="field form-group">
          <label>Designation / Role <span class="astrick">*</span></label>
          <select formControlName="role" [attr.disabled]="!roles.length ? true : null">
            <option value="" disabled selected>
              {{ !departments.length ? 'No departments available' : !roles.length ? 'No roles available' : 'Select role'
              }}
            </option>
            <option *ngFor="let r of roles" [value]="r?.id">{{ r?.name }}</option>
          </select>
          <span class="no-data" *ngIf="c('department')?.value && !roles.length">
            <i class="fa-solid fa-circle-exclamation"></i> No roles present
          </span>
          <div class="error" *ngIf="c('role')?.touched">
            <span *ngIf="c('role')?.hasError('required')">Designation / Role is required</span>
          </div>
        </div>

      </div>
    </form>

    <!-- Danger / Success Section -->
    <!-- <div class="danger" *ngIf="user.active">
    <p>This will prevent the user from logging in.</p>
    <button class="deactivate-btn" (click)="deactivateUser()">
      Deactivate user account
    </button>
  </div>

  <div class="success" *ngIf="!user.active">
    <p>This will restore the user's access.</p>
    <button class="activate-btn" (click)="activateUser()">
      Activate user account
    </button>
  </div> -->

    <!-- Actions -->
    <div class="actions">
      <button class="cancel" (click)="reset()">Cancel</button>
      <button [ngClass]="user.active ? 'deactivate-btn' : 'activate-btn'"
        (click)="user.active ? deactivateUser() : activateUser()">
        {{ user.active ? 'Deactivate' : 'Activate' }}
      </button>
      <button class="save" (click)="save()">
        <i class="fa-solid fa-spinner fa-spin" *ngIf="isloading()"></i>
        Save changes
      </button>
    </div>

  </div>
</div>