<div class="user-card">
  <div class="header">
    <div class="avatar">{{user?.username | profile}}</div>
    <div>
      <h3>{{user.username}}</h3>
      <p>{{ user.email }} •
        <span [ngClass]="user.active ? 'status active' : 'status deactivated'">
          {{ user.active?'Active':'Deactivated' }}
        </span>
      </p>
    </div>
  </div>

  <hr>
  <div class="form-group">
    <label>Current Role</label>
    <div class="role-box">
      <span class="role">{{user.roleName}}</span>
      <span class="assigned">
        Assigned {{ user.assignedAt | date:'dd-MM-yyyy hh:mm a' }} by {{ user.assignedBy }}
      </span>
    </div>
  </div>

  <form [formGroup]='form'>
    <div class="grid">

      <div class="field form-group">
        <label>Business Unit <span class="astrick">*</span></label>
        <select formControlName="businessUnit">
          <option value="" disabled selected>Select business unit</option>
          <option *ngFor="let b of businessUnits" [value]="b?.id">{{ b?.name }}</option>
        </select>
        <div class="error" *ngIf="c('businessUnit')?.touched">
          <span *ngIf="c('businessUnit')?.hasError('required')">Business unit is required</span>
        </div>
      </div>

      <!-- Department -->
      <div class="field form-group">
        <label>Department / Team <span class="astrick">*</span></label>
        <select formControlName="department" [attr.disabled]="!departments.length ? true : null">
          <option value="" disabled selected>
            {{ departments.length ? 'Select department' : 'Select business unit first' }}
          </option>
          <option *ngFor="let d of departments" [value]="d?.id">{{ d?.name }}</option>
        </select>
        <div class="error" *ngIf="c('department')?.touched">
          <span *ngIf="c('department')?.hasError('required')">Department is required</span>
        </div>
      </div>

      <!-- Role -->
      <div class="field form-group">
        <label>Designation / Role <span class="astrick">*</span></label>
        <select formControlName="role" [attr.disabled]="!roles.length ? true : null">
          <option value="" disabled selected>
            {{ roles.length ? 'Select role' : 'Select department first' }}
          </option>
          <option *ngFor="let r of roles" [value]="r?.id">{{ r?.name }}</option>
        </select>
        <div class="error" *ngIf="c('role')?.touched">
          <span *ngIf="c('role')?.hasError('required')">Designation / Role is required</span>
        </div>
      </div>

    </div>
  </form>


  <div class="danger" *ngIf="user.active">
    <button class="deactivate-btn" (click)="deactivateUser()">
      Deactivate user account
    </button>
  </div>
  <div class="success" *ngIf="!user.active">
    <button class="activate-btn" (click)="activateUser()">
      Activate user account
    </button>
  </div>
  <div class="actions">
    <button class="cancel" (click)="reset()">Cancel</button>
    <button class="save" (click)="save()"><i class="fa-solid fa-spinner fa-spin" *ngIf="isloading()"></i>Save
      changes</button>
  </div>

</div>