<div class="login-wrapper">
  <div class="login-c">

    <div class="login-logo">
      <app-heading [heading]="'NEXUS'" [subHeading]="'Hiring Management System'" [headingFontSize]="'20px'"
        [subHeadingFontSize]="'14px'" [headingColor]="'var(--brand-color)'" [subHeadingColor]="'#64748b'"
        [isCenter]="true"></app-heading>
    </div>

    <app-heading [heading]="'Welcome'" [subHeading]="'Sign in to your workspace'" [headingFontSize]="'20px'"
      [subHeadingFontSize]="'14px'" [headingColor]="'var(--brand-color)'" [subHeadingColor]="'#64748b'"
      [isCenter]="true"></app-heading>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="field-g">
        <label class="fl-label">
          Work email <span class="req">*</span>
        </label>

        <input type="email" class="fi" formControlName="email" placeholder="Enter your email" />

        <!-- Error -->
        <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is required
          </span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">
            Enter valid email
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="field-g">
        <label class="fl-label">
          Password <span class="req">*</span>
        </label>

        <div class="password-wrapper">
          <input [type]="hide() ? 'password' : 'text'" class="fi" formControlName="password"
            placeholder="Enter your password" />

          <span class="eye-icon" (click)="hide.set(!hide())">
            <i *ngIf="hide()" class="fa fa-eye-slash"></i>
            <i *ngIf="!hide()" class="fa fa-eye"></i>
          </span>
        </div>

        <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">

          <span *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required
          </span>

          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Minimum 8 characters required
          </span>

          <span *ngIf="loginForm.get('password')?.errors?.['pattern']">
            Must contain 1 uppercase & 1 special character
          </span>

        </div>


      </div>

      <div class="forgot">
        <span (click)="forgotPassword()">Forgot password?</span>
      </div>


      <button class="btn btn-primary bp" type="submit" [disabled]="loading()">
        {{ loading() ? 'Signing in...' : 'Sign in' }}
      </button>


      <div class="footer-text">
        Your role and access are assigned by your Admin at onboarding
      </div>

    </form>
  </div>

</div>