<div class="my-approvals">
  <app-approved-srs-layout
    [heading]="heading"
    [subheading]="subheading"
    [dropDownData]="dropDownData"
    [searchPlaceholder]="searchPlaceholder"
    [columns]="columns"
    [data]="data"
    [totalElements]="totalElements"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    [typeOfPermission]="'DEMAND:ALLAPPROVEDSRS:CREATE'"
    (filtersChange)="filtersResponse($event)"
    (pageChange)="onPageChange($event)"
    (createJob)="createNewJob($event)"
    >
  </app-approved-srs-layout>
</div>