<div class="approval-component">
    <div class="heading-info sr-header">
        <app-heading [heading]="heading" [subHeading]="subHeading" [showInfo]="showInfo" [infoTooltip]="infoTooltip" [showBackButton]="showBackButton" [buttonText]="buttonText"/>
         <button class="btn-new" *ngIf="showBtn" (click)="handleNavigate()">+ {{buttonType}}</button>
    </div>
    <div class="stats-grid">

        <div class="card-dd" *ngFor="let item of cards">
            <app-dashboard-count-card [label]="item?.label" [value]="item?.value" [iconClass]="item?.iconClass"
                [iconBgColor]="item?.iconBgColor" [iconColor]="item?.iconColor" [bottomText]="item?.subLabel"/>
        </div>

    </div>
    <div class="card-dd" *ngIf="dropDownData.length>=1 || searchPlaceholder">
        <app-common-filter [dropdowns]="dropDownData" [searchPlaceholder]="searchPlaceholder"  (filterChange)="onFilterChange($event)"  [tabs]="tabs" (tabChange)="tabChangeEvent($event)" [activeTab]="activeTab"/>
    </div>

</div>