<div class="login-wrapper">
    <div class="login-c">

        <!-- Heading -->
        <app-heading [heading]="'Change Password'" [subHeading]="'Update your account password securely'"
            [headingFontSize]="'20px'" [subHeadingFontSize]="'14px'" [headingColor]="'var(--brand-color)'"
            [subHeadingColor]="'#64748b'" [isCenter]="true">
        </app-heading>

        <!-- Icon -->
        <div class="icon-box">
            <i class="fa fa-lock"></i>
        </div>

        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">


            <div class="field-g">
                <label class="fl-label">
                    Current Password <span class="req">*</span>
                </label>

                <div class="password-wrapper">
                    <input [type]="showCurrent() ? 'password' : 'text'" class="input fi"
                        formControlName="currentPassword" placeholder="Enter current password" />

                    <span class="eye-icon" (click)="showCurrent.set(!showCurrent())">
                        <i *ngIf="showCurrent()" class="fa fa-eye-slash"></i>
                        <i *ngIf="!showCurrent()" class="fa fa-eye"></i>
                    </span>
                </div>

                <div class="error"
                    *ngIf="changeForm.get('currentPassword')?.touched && changeForm.get('currentPassword')?.invalid">

                    <span *ngIf="changeForm.get('currentPassword')?.errors?.['required']">
                        Current Password is required
                    </span>

                    <span *ngIf="changeForm.get('currentPassword')?.errors?.['minlength']">
                        Minimum 8 characters required
                    </span>

                    <span *ngIf="changeForm.get('currentPassword')?.errors?.['pattern']">
                        Password Must contain 1 uppercase & 1 special character
                    </span>

                </div>
            </div>

            <!-- New Password -->
            <div class="field-g">
                <label class="fl-label">
                    New Password <span class="req">*</span>
                </label>

                <div class="password-wrapper">
                    <input [type]="showNew() ? 'password' : 'text'" class="input fi" formControlName="newPassword"
                        placeholder="Enter new password" />

                    <span class="eye-icon" (click)="showNew.set(!showNew())">
                        <i *ngIf="showNew()" class="fa fa-eye-slash"></i>
                        <i *ngIf="!showNew()" class="fa fa-eye"></i>
                    </span>
                </div>

                <div class="error"
                    *ngIf="changeForm.get('newPassword')?.touched && changeForm.get('newPassword')?.invalid">

                    <span *ngIf="changeForm.get('newPassword')?.errors?.['required']">
                        New password is required
                    </span>

                    <span *ngIf="changeForm.get('newPassword')?.errors?.['minlength']">
                        Minimum 8 characters required
                    </span>
                    <span *ngIf="changeForm.get('newPassword')?.errors?.['pattern']">
                        Must contain 1 uppercase & 1 special character
                    </span>
                </div>
            </div>

            <div class="field-g">
                <label class="fl-label">
                    Re-enter New Password <span class="req">*</span>
                </label>

                <div class="password-wrapper">
                    <input [type]="showConfirm() ? 'password' : 'text'" class="input fi"
                        formControlName="confirmPassword" placeholder="Re-enter new password" />

                    <span class="eye-icon" (click)="showConfirm.set(!showConfirm())">
                        <i *ngIf="showConfirm()" class="fa fa-eye-slash"></i>
                        <i *ngIf="!showConfirm()" class="fa fa-eye"></i>
                    </span>
                </div>

                <div class="error"
                    *ngIf="changeForm.get('confirmPassword')?.touched && changeForm.get('confirmPassword')?.invalid">

                    <span *ngIf="changeForm.get('confirmPassword')?.errors?.['required']">
                        Please confirm password
                    </span>

                    <span *ngIf="changeForm.get('confirmPassword')?.errors?.['mismatch']">
                        Passwords do not match
                    </span>
                </div>
            </div>
            <button class="btn bp" type="submit" [disabled]="loading()">
                {{ loading() ? 'Updating...' : 'Update Password' }}
            </button>

        </form>

    </div>
</div>