<div class="donut-chart-wrap">
  <apx-chart
    *ngIf="chartOptions as opts"
    #chartRef
    [series]="opts.series"
    [chart]="opts.chart"
    [labels]="opts.labels"
    [colors]="opts.colors"
    [stroke]="opts.stroke"
    [dataLabels]="opts.dataLabels"
    [legend]="opts.legend"
    [tooltip]="opts.tooltip"
    [plotOptions]="opts.plotOptions"
  ></apx-chart>

  <div class="legend" *ngIf="showLegend">
    <div class="legend-item" *ngFor="let s of segments; trackBy: trackByLabel">
      <span class="legend-dot" [style.background]="s.color"></span>
      <span class="legend-label">{{ s.label }}</span>
      <span class="legend-pct">({{ percentageOf(s.value) }}%)</span>
      <span class="legend-amount">{{ currencyPrefix }}{{ formatValue(s.value) }}</span>
    </div>
  </div>
</div>