<div class="card-pipe-line" *ngIf="stage">

    <div class="card-container" [style.height]="height" *ngIf="showProgess; else simpleCard">
        <span>Stage {{stage?.id}}</span>

        <div class="bottom">
            <h6>{{stage?.title}}</h6>
            <div class="count">{{stage?.count}}</div>

           <nz-progress [nzPercent]="handleProgessBar(stage?.count,stage.total)" [nzShowInfo]="false" nzStatus="active" />
        </div>
    </div>

    <ng-template #simpleCard>
        <div class="pipeline-container">
            <div class="pipeline-card">
                <div class="count">{{stage.count}}</div>
                <div class="label">{{stage.title}}</div>
            </div>
        </div>
    </ng-template>

</div>