<div *ngIf="layout === 'horizontal'" class="cp-wrap">
  <div class="cp-header">
    <h3 class="cp-title" *ngIf="title">{{ title }}</h3>

    <!-- <div class="cp-period" *ngIf="periods.length">
      <select class="cp-period-select" [value]="selectedPeriod" (change)="onPeriodChange($event)">
        <option *ngFor="let period of periods" [value]="period">{{ period }}</option>
      </select>
      <i class="fa-solid fa-chevron-down cp-period-icon"></i>
    </div> -->
  </div>

  <div class="cp-funnel">
    <ng-container *ngFor="let stage of stages; let first = first">
      <div class="cp-arrow" *ngIf="!first">
        <i class="fa-solid fa-arrow-right"></i>
        <span class="cp-arrow-pct" *ngIf="stage.conversionPct !== undefined">{{ stage.conversionPct }}%</span>
      </div>

      <div class="cp-stage">
        <div class="cp-stage-icon" [style.background-color]="stage.iconBgColor">
          <i [class]="stage.iconClass" [style.color]="stage.iconColor"></i>
        </div>
        <span class="cp-stage-label" [style.color]="stage.iconColor">{{ stage.label }}</span>
        <span class="cp-stage-value">{{ stage.value }}</span>
      </div>
    </ng-container>
  </div>

  <div class="cp-footer">
    <span class="cp-footer-label">{{ overallConversionLabel }}</span>
    <span class="cp-footer-value">{{ overallConversionRate }}%</span>
  </div>
</div>

<div *ngIf="layout === 'funnel'" class="cp-wrap">

  <div class="cp-header">
    <h3 class="cp-title">{{ title }}</h3>

    <!-- <div class="cp-period">
      <select class="cp-period-select">
        <option *ngFor="let period of periods">
          {{ period }}
        </option>
      </select>
    </div> -->
  </div>

 <div class="recruiter-funnel">

  <div class="left-labels">
    <div class="stage-label" *ngFor="let stage of stages">
      {{ stage.label }}
    </div>
  </div>

  <div class="center-funnel">

    <div
      *ngFor="let stage of stages; let i = index"
      class="funnel-level"
      [style.width.%]="100 - (i * 14)"
      [style.background]="stage.iconColor">

      <div class="value">{{ stage.value }}</div>

      <div class="percentage" *ngIf="stage.conversionPct !== undefined">
        ({{ stage.conversionPct }}%)
      </div>

    </div>

  </div>

  <div class="right-conversion">

    <div
      class="conversion"
      *ngFor="let stage of stages">

      {{ stage.conversionPct !== undefined ? stage.conversionPct + '%' : '' }}

    </div>

  </div>

</div>

</div>