

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:100;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 10px;
}

.modal-box .form-group {
  margin-bottom: 10px;
}
/* Responsive */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}