<app-heading [heading]="pageTitle" [subHeading]="pageSubtitle" [backButtonUrl]="backButtonUrl" [showBackButton]="true" [buttonText]="backText" />
<div class="card">
  <form [formGroup]="form">
    <div class="grid">

      <!-- User Type -->
      <div class="field">
        <label>User Type <span class="astrick">*</span></label>
        <nz-select formControlName="userType" [nzDisabled]="isView" nzPlaceHolder="Select user type"
          [nzOptionOverflowSize]="5" class="nz-field-select">
          <!-- <nz-option *ngIf="userTypes.length === 0" nzDisabled nzValue="" nzLabel="No user types available"></nz-option> -->
          <nz-option *ngFor="let u of userTypes" [nzValue]="u?.id" [nzLabel]="u?.name"></nz-option>
        </nz-select>
        <div class="error" *ngIf="c('userType')?.touched">
          <span *ngIf="c('userType')?.hasError('required')">User type is required</span>
        </div>
      </div>

      <!-- First Name -->
      <div class="field">
        <label>First Name <span class="astrick">*</span></label>
        <input formControlName="firstName" placeholder="Enter first name" (blur)="trimField('firstName')">
        <div class="error" *ngIf="c('firstName')?.touched">
          <span *ngIf="c('firstName')?.hasError('required')">First name is required</span>
          <span *ngIf="c('firstName')?.hasError('minlength')">Minimum 2 characters required</span>
          <span *ngIf="c('firstName')?.hasError('maxlength')">Maximum 50 characters allowed</span>
          <span *ngIf="c('firstName')?.hasError('alphabetsOnly')">Only alphabets are allowed</span>
        </div>
      </div>

      <!-- Last Name -->
      <div class="field">
        <label>Last Name <span class="astrick">*</span></label>
        <input formControlName="lastName" placeholder="Enter last name" (blur)="trimField('lastName')">
        <div class="error" *ngIf="c('lastName')?.touched">
          <span *ngIf="c('lastName')?.hasError('required')">Last name is required</span>
          <span *ngIf="c('lastName')?.hasError('minlength')">Minimum 1 character required</span>
          <span *ngIf="c('lastName')?.hasError('maxlength')">Maximum 50 characters allowed</span>
          <span *ngIf="c('lastName')?.hasError('alphabetsOnly')">Only alphabets are allowed</span>
        </div>
      </div>

      <!-- Employee ID -->
      <div class="field">
        <label>Employee ID <span class="astrick">*</span></label>
        <input formControlName="employeeId" placeholder="Enter employee ID (eg. 0092)">
        <div class="error" *ngIf="c('employeeId')?.touched">

          <span *ngIf="hasError('employeeId','required')">
            Employee ID is required
          </span>

          <span *ngIf="!hasError('employeeId','required') 
                  && hasError('employeeId','numericOnly')">
            Employee ID must be numeric
          </span>

          <span *ngIf="!hasError('employeeId','required') 
                  && !hasError('employeeId','numericOnly')
                  && (hasError('employeeId','maxlength') || hasError('employeeId','minlength'))">
            Employee ID must have exactly 4 digits
          </span>

        </div>
      </div>

      <!-- Email -->
      <div class="field">
        <label>Email Address <span class="astrick">*</span></label>
        <input formControlName="email" placeholder="Enter corporate email address">
        <div class="error" *ngIf="c('email')?.touched">

          <span *ngIf="hasError('email','required')">
            Email address is required
          </span>

          <span *ngIf="!hasError('email','required') 
                  && hasError('email','email')">
            Enter a valid email address
          </span>

          <span *ngIf="!hasError('email','required') 
                  && !hasError('email','email')
                  && hasError('email','pattern')">
            Only .com, .in, .org, .net, .edu domains are allowed
          </span>

        </div>
      </div>

      <!-- Mobile -->
      <div class="field">
        <label>Mobile Number <span class="astrick">*</span></label>

        <input formControlName="mobile" placeholder="Enter mobile number (e.g.9876543210)">

        <div class="error" *ngIf="c('mobile')?.touched">

          <span *ngIf="hasError('mobile','required')">
            Mobile number is required
          </span>

          <span *ngIf="!hasError('mobile','required') &&
                  (hasError('mobile','invalidMobile') || hasError('mobile','minlength'))">
            Enter a valid mobile number
          </span>

        </div>
      </div>

      <!-- Alternate Contact -->
      <div class="field">
        <label>Alternate Contact</label>
        <input formControlName="altMobile" placeholder="Enter alternate contact (optional)">
        <div class="error" *ngIf="c('altMobile')?.touched">
          <span *ngIf="c('altMobile')?.hasError('invalidMobile')">Enter a valid contact number</span>
          <span *ngIf="c('altMobile')?.hasError('minlength')">Enter a valid contact number</span>
          <span *ngIf="c('altMobile')?.hasError('sameAsMobile')">Alternate contact must differ from mobile number</span>
        </div>
      </div>

      <!-- Employment Type -->
      <div class="field">
        <label>Employment Type <span class="astrick">*</span></label>
        <nz-select formControlName="employmentType" [nzDisabled]="isView" nzPlaceHolder="Select employment type"
          [nzOptionOverflowSize]="5" class="nz-field-select" >
         
          <nz-option *ngFor="let e of employmentTypes" [nzValue]="e?.id" [nzLabel]="e?.name"></nz-option>
        </nz-select>
        <div class="error" *ngIf="c('employmentType')?.touched">
          <span *ngIf="c('employmentType')?.hasError('required')">Employment type is required</span>
        </div>
      </div>

      <!-- Business Unit -->
      <!-- <div class="field">
        <label>Business Unit <span class="astrick">*</span></label>
        <nz-select formControlName="businessUnit" [nzDisabled]="isView" nzPlaceHolder="Select business unit"
          [nzOptionOverflowSize]="5" class="nz-field-select">
         <nz-option *ngIf="businessUnits.length === 0" nzDisabled nzValue="" nzLabel="No business units available"></nz-option>
          <nz-option *ngFor="let b of businessUnits" [nzValue]="b?.id" [nzLabel]="b?.name"></nz-option>
        </nz-select>
        <div class="error" *ngIf="c('businessUnit')?.touched">
          <span *ngIf="c('businessUnit')?.hasError('required')">Business unit is required</span>
        </div>
      </div> -->

      <!-- Department -->
      <div class="field">
        <label>Department / Team <span class="astrick">*</span></label>
        <nz-select formControlName="department" [nzDisabled]="isView"
          [nzPlaceHolder]="departments.length ? 'Select department' : 'Select business unit first'"
          [nzOptionOverflowSize]="5" class="nz-field-select">
          <!-- <nz-option *ngIf="departments.length === 0 && c('businessUnit')?.value" nzDisabled nzValue="" nzLabel="No departments available"></nz-option> -->
          <nz-option *ngFor="let d of departments" [nzValue]="d?.id" [nzLabel]="d?.departmentName"></nz-option>
        </nz-select>
        <div class="error" *ngIf="c('department')?.touched">
          <span *ngIf="c('department')?.hasError('required')">Department is required</span>
        </div>
      </div>

      <!-- Role -->
      <div class="field">
        <label>Designation / Role <span class="astrick">*</span></label>
        <nz-select formControlName="role" [nzDisabled]="isView"
          [nzPlaceHolder]="roles.length ? 'Select role' : 'Select department first'"
          [nzOptionOverflowSize]="5" class="nz-field-select">
          <!-- <nz-option *ngIf="roles.length === 0 && c('department')?.value" nzDisabled nzValue="" nzLabel="No roles available"></nz-option> -->
          <nz-option *ngFor="let r of roles" [nzValue]="r?.id" [nzLabel]="r?.name"></nz-option>
        </nz-select>
        <div class="error" *ngIf="c('role')?.touched">
          <span *ngIf="c('role')?.hasError('required')">Designation / Role is required</span>
        </div>
      </div>

    </div>

    <!-- Actions -->
    <div class="actions">
      <button type="button" class="btn cancel" (click)="close()">Cancel</button>
      <button *ngIf="!isView" type="button" class="btn primary" (click)="submit()" [disabled]="form.invalid">
        <i class="fa-solid fa-spinner fa-spin" *ngIf="isloading()"></i> Submit
      </button>
    </div>

  </form>
</div>