<div class="card-main" *ngIf="!iconClass;else iconCard">

  <div class="value" [style]="{'color': valueColor}">
    {{ value }}
  </div>

  <div class="label" [style]="{'color': labelColor}">
    {{ label }}
  </div>
</div>

<ng-template #iconCard>
  <div class="card" (click)="cardClick.emit()">

    <div class="icon-bubble" [style.background-color]="iconBgColor">
      <i [class]="iconClass" [style.color]="iconColor"></i>
    </div>

    <div class="card-content">
      <span class="label" [style.color]="labelColor">{{ label }}</span>
      <span class="value" [style.color]="valueColor">{{ value }}</span>
      <span class="bottom-text" *ngIf="bottomText" [style.color]="bottomTextColor">

        {{ bottomText }}

      </span>
    </div>

  </div>
</ng-template>