<div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:12px">
  <div class="pg">Users & Roles</div>
  <div class="right">
    <div class="btn">Export </div>
    <div class="btn bp" (click)="openInvite()">+ Invite User</div>
  </div>
</div>
<div class="card-wrap">
  <app-dashboard-count-card *ngFor="let c of cards" [value]="c.value" [label]="c.label" [valueColor]="c.valueColor"
    [borderColor]="c.borderColor" [ngStyle]="{'background': c.bgColor}">
  </app-dashboard-count-card>
</div>

<div class="filters-section">
  <div class="fill" *ngFor="let f of filters">
    <app-card [label]="f.label" [count]="f.count" [textColor]="f.textColor" [bgColor]="f.bgColor"
      [borderColor]="f.borderColor" [isActive]="selectedFilter === f.id" [roleId]="f?.id" (selectedCard)="applyFilter($event)">

    </app-card>
  </div>
</div>
<div class="users-list">
  <div class="usr-row" *ngFor="let u of filteredUsers">
    <div class="usr-av">{{u?.username| profile}}</div>
    <div style="flex:1">
      <div class="usr-n">{{u?.username}}</div>
      <div class="usr-e">{{u?.email}}</div>
    </div>
    <span class="rbadge rRec">{{u?.roleName}}</span>
    <div class="usr-s" [ngClass]="u.active?'active-s':'inactive-s'">{{u?.active?'Active':'Deactivated'}}</div>
    <div class="btn" (click)="editUser(u)">Edit</div>
    <div class="btn btn-view" (click)="view(u)">View</div>
  </div>
</div>

<app-pagination [totalItems]="totalItems" [pageSize]="pageSize" [currentPage]="currentPage"
  (pageChange)="onPageChange($event)" />


