<div class="padding-class overview-div">

  <h3 class="title">Job Overview</h3>

  <div class="grid-5">
    <div>
      <span class="label">JOB CODE</span>
      <p>{{job?.jobCode || '-'}}</p>
    </div>

    <div>
      <span class="label">JOB TITLE</span>
      <p>{{job?.jobTitle || '-'}}</p>
    </div>

    <div>
      <span class="label">JOB LEVEL</span>
      <p>{{job?.jobLevel || '-'}}</p>
    </div>

    <div>
      <span class="label">EXPERIENCE</span>
      <p>{{job?.experience ? job?.experience + ' Years' : '-'}}</p>
    </div>

    <div>
      <span class="label">LOCATION</span>
      <p>{{job?.jobLocation || '-'}}</p>
    </div>
  </div>

  <!-- SECOND ROW -->
  <div class="grid-5 second-row">
    <div>
      <span class="label">JOB MODE</span>
      <p>{{job?.jobMode || '-'}}</p>
    </div>

    

    <div>
      <span class="label">JOB TYPE</span>
      <p>{{job?.jobType || '-'}}</p>
    </div>

    <div>
      <span class="label">COUNTRY</span>
      <p>{{job?.jobCountry || '-'}}</p>
    </div>

    <div>
      <span class="label">CREATED BY</span>
      <p>{{job?.createdBy || '-'}}</p>
    </div>
  </div>

  <hr />

  <!-- JOB INFO -->

  <div>
    <span class="label">JOB TITLE</span>
    <p class="info">{{job.jobTitle}}</p>
  </div>

  <div></div>
  <div>
    <span class="label">JOB INFO</span>
    <p class="info">{{job?.jobInfo || '-'}}</p>
  </div>

  <hr />

  <div class="grid-2">
    <div>
      <span class="label">SKILLS</span>
      <div class="chips">
        <span class="chip" *ngFor="let skill of job?.skills">
          {{skill?.skillName}}
        </span>
        <span *ngIf="!job?.skills || job?.skills.length === 0">-</span>
      </div>
    </div>

    <div>
      <span class="label">QUALIFICATION</span>
      <p>{{job?.qualification || '-'}}</p>
    </div>
  </div>

  <hr />

  <!-- DESCRIPTION -->
  <div>
    <span class="label">JOB DESCRIPTION</span>
    <p class="desc">{{job?.jobDescription || '-'}}</p>
  </div>

  <hr />

  <!-- REQUIREMENTS -->
  <div>
    <span class="label">JOB REQUIREMENTS</span>
    <p class="desc">{{job?.jobRequirements || '-'}}</p>
  </div>

</div>
