<div class="ai-interview-zone">
  <app-pipeline-stages [stages]="stages" [activeStageId]="activeStageId" (stageSelected)="onStageSelected($event)" />

  <app-approval-layout heading="Generate AI Questions"
    subHeading="Create, manage and monitor AI generated questions before scheduling the interview."
    searchPlaceholder="Search by name, email or job title..." [dropDownData]="displayFilters"
    (filterChange)="filterChange($event)" />

</div>

<div class="div" *ngIf="activeStageId==='qg'">
  <app-interview-questions-table [activeFilters]="activeFilters"/>
</div>
<div *ngIf="activeStageId==='is'">
  <app-interview-schedule-ai-table [activeFilters]="activeFilters"/>
</div>
<app-interview-upcoming-ai-table *ngIf="activeStageId==='si'" [activeFilters]="activeFilters"/>