.file-upload {
    border: 1px solid #ccc;
    padding:0px  2px;
    border-radius: 6px;
    background: #fff;

}

.custom-file-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn {
    background: hsl(211, 87%, 85%);
    color: #0056b3;
    margin-top: 5px;
    // padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover {
    background: #0056b3;
    color: #fff;
}

.file-name {
    color: #555;
    font-size: 13px;
}