<div class="date-range-wrapper">

  <!-- FROM DATE -->
  <div class="date-field">

    <span class="date-label">FROM</span>

    <div class="date-input-wrapper">

      <input
        type="date"
        class="date-input"
        [value]="fromDate"
        [min]="minDate"
        [max]="toDate || maxDate"
        (change)="onFromDateChange($event)"
        (click)="openCalendar($event)"
      />

      <span class="calendar-icon">
        <i class="fa-regular fa-calendar"></i>
      </span>

    </div>

  </div>


  <!-- ARROW -->
  <div class="date-arrow">
    <i class="fa-solid fa-arrow-right"></i>
  </div>


  <!-- TO DATE -->
  <div class="date-field">

    <span class="date-label">TO</span>

    <div class="date-input-wrapper">

      <input
        type="date"
        class="date-input"
        [value]="toDate"
        [min]="fromDate || minDate"
        [max]="maxDate"
        (change)="onToDateChange($event)"
        (click)="openCalendar($event)"
      />

      <span class="calendar-icon">
        <i class="fa-regular fa-calendar"></i>
      </span>

    </div>

  </div>


  <!-- CLEAR BUTTON -->
  <button
    type="button"
    class="clear-date-btn"
    *ngIf="fromDate || toDate"
    (click)="clearDates()"
    title="Clear date filter"
  >
    <i class="fa-solid fa-xmark"></i>
    Clear
  </button>

</div>