<div class="login-wrapper">
    <div class="login-c">
        <div class="back-icon" (click)="goToLogin()">
            <i class="fa fa-arrow-left"></i>
        </div>
        <app-heading [heading]="'NEXUS'" [subHeading]="'Hiring Management System'" [headingFontSize]="'20px'"
            [subHeadingFontSize]="'14px'" [headingColor]="'var(--brand-color)'" [subHeadingColor]="'#64748b'"
            [isCenter]="true">
        </app-heading>

        <div class="icon-box">
            <i class="fa fa-paper-plane"></i>
        </div>


        <app-heading [heading]="'Forgot password?'"
            [subHeading]="'No worries! Enter your work email and we’ll send a reset link.'" [headingFontSize]="'20px'"
            [subHeadingFontSize]="'14px'" [headingColor]="'var(--brand-color)'" [subHeadingColor]="'#64748b'"
            [isCenter]="true">
        </app-heading>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

            <div class="field-g">
                <label class="fl-label">
                    Work email <span class="req">*</span>
                </label>

                <input type="email" class="input fi" formControlName="email" placeholder="you@company.com" />
                <div class="error" *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid">

                    <span *ngIf="forgotForm.get('email')?.errors?.['required']">
                        Email is required
                    </span>

                    <span *ngIf="forgotForm.get('email')?.errors?.['email']">
                        Enter a valid email address
                    </span>

                </div>
            </div>

            <button class="btn bp" type="submit" [disabled]="loading()">
                {{ loading() ? 'Sending...' : 'Send reset link' }}
            </button>

            <div class="footer-text">
                Didn’t receive the email? Check spam folder or contact support.
            </div>

        </form>
    </div>
</div>