<div class="card" *ngIf="job!=null && job!==undefined" [ngClass]="{ 'active-card': isActive , 'flat': isSimpleView  }"
  (click)="handleSelectedCard(job?.jobId)" [style.width]="width">

  <div class="card-header-info">

    <div>
      <h6>{{job?.jobTitle}}</h6>
      <p>JOB CODE - {{job?.jobCode}}</p>
    </div>
    <div *ngIf="!showJobDetails">
      <div class="menu-wrapper" (click)="$event.stopPropagation()">
        <i class="fa-solid fa-ellipsis-vertical menu-icon"></i>

        <div class="menu-dropdown">
          <div class="menu-item" (click)="handleAction('edit', job?.jobId)">Edit <nz-icon nzType="edit"
              nzTheme="outline" /></div>
          <div class="menu-item delete" (click)="handleAction('delete', job?.jobId)">Delete<nz-icon nzType="delete"
              nzTheme="outline" /></div>
        </div>
      </div>
    </div>

  </div>



  <div class="info">
    <div class="item">
      <i class="fa-solid fa-award"></i>
      <span>{{job?.experience}} Years Exp</span>
    </div>
    <div class="item">
      <i class="fa-solid fa-location-dot"></i>
      <span>{{job?.jobLocation}}</span>
    </div>
  </div>

  <div class="skills">
    <span *ngFor="let skill of job?.skills">{{ skill?.skillName }}</span>
  </div>

  <div class="footer" *ngIf="showJobDetails">
    <div class="stat">
      <p>Applicants</p>
      <h3>{{ job?.applicantCount }}</h3>
    </div>
    <div class="stat">
      <p>Interviews</p>
      <h3>{{ job?.interview }}</h3>
    </div>
    <!-- <div class="stat rejected">
      <p>Rejected</p>
      <h3>{{ rejected }}</h3>
    </div> -->
  </div>

</div>