<div class="approval-component">

    <app-approval-layout [heading]="'My SRs — Approval Status'" subHeading="Track the progress of all your staffing requisitions"
        [showInfo]="true" infoTooltip="More details about approval status" [cards]="cards"  [searchPlaceholder]="'Search by SR ID or Job Title'" [dropDownData]="dropDownData" [tabs]="tabs" [activeTab]="activeTab" (tabChange)="setTab($event)"/>
    
    <div class="card-dd">
        <app-reusable-table [columns]="columns" [data]="data" [totalItems]="totalItems" [pageSize]="pageSize"
            [currentPage]="currentPage"  [cellTemplate]="cellTpl"
            emptyMessage="No staffing requisitions found." (pageChange)="onPageChange($event)"></app-reusable-table>
    </div>
</div>

<ng-template #cellTpl let-ctx>

    
    <ng-container *ngIf="ctx.col.key == 'srId'">
        <div class="stage-cell">
            <span class="sr-id-link">{{ ctx.row['srId'] }}</span>
        </div>
    </ng-container>


    <ng-container *ngIf="ctx.col.key === 'currentStage'">
        <div class="stage-cell">
            <span class="stage-main">{{ ctx.row['currentStage'] }}</span>
            <span class="stage-person" *ngIf="ctx.row['stagePerson']">
                {{ ctx.row['stagePerson'] }}
            </span>
        </div>
    </ng-container>

   
    <ng-container *ngIf="ctx.col.key === 'overallStatus'">
        <span class="status-badge" [ngClass]="ctx.row['overallStatus']?.toLowerCase()?.replace(' ', '-')">
            {{ ctx.row['overallStatus'] }}
        </span>
    </ng-container>


    <ng-container *ngIf="ctx.col.key === 'actions'">
        <app-common-table-actions (view)="onView(ctx.row)" (edit)="onEdit(ctx.row)" viewPermission="MYAPPROVAL:SRAPPROVALS:VIEW" editPermission="MYAPPROVAL:SRAPPROVALS:EDIT"/>
    </ng-container>

</ng-template>