 <app-heading-container [heading]="'Job Details'" [fontSize]="'19px'"></app-heading-container>
<div class="form-container">
   
    <form [formGroup]="addJobForm">


        <div class="form-row">
            <div class="form-group">
                <label>Code <span class="required">*</span></label>
                <input type="text" formControlName="jobCode" placeholder="Enter Job Code">
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobCode')?.touched && addJobForm.get('jobCode')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobCode')?.errors?.['required']">
                        Job code must not be empty.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobCode')?.errors?.['maxlength']">
                        Job code must contain maximum 50 characters.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Title <span class="required">*</span></label>
                <input type="text" formControlName="jobTitle" placeholder="Enter Job Title">
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobTitle')?.touched && addJobForm.get('jobTitle')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobTitle')?.errors?.['required']">
                        Job title must not be empty.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobTitle')?.errors?.['minlength']">
                        Job title must contain minimum 2 characters.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobTitle')?.errors?.['maxlength']">
                        Job title must contain maximum 255 characters.
                    </small>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group">
                <label>Title Info <span class="required">*</span></label>
                <input type="text" formControlName="jobInfo" placeholder="Enter Job Title Info">
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobInfo')?.touched && addJobForm.get('jobInfo')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobInfo')?.errors?.['required']">
                        Job title info must not be empty.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobInfo')?.errors?.['minlength']">
                        Job title info must contain minimum 2 characters.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobInfo')?.errors?.['maxlength']">
                        Job title info must contain maximum 255 characters.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Level <span class="required">*</span></label>
                <input type="text" formControlName="jobLevel" placeholder="Enter Job Level">
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobLevel')?.touched && addJobForm.get('jobLevel')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobLevel')?.errors?.['required']">
                        Job level must not be empty.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobInfo')?.errors?.['minlength']">
                        Job level must contain minimum 2 characters.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobLevel')?.errors?.['maxlength']">
                        Job level must contain maximum 255 characters.
                    </small>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group">
                <label>Type <span class="required">*</span></label>
                <select formControlName="jobType">
                    <option value="">Select Job Type</option>
                    <option *ngFor="let jobtype of jobTypes" [value]="jobtype.name">
                        {{ jobtype.name }}
                    </option>
                </select>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobType')?.touched && addJobForm.get('jobType')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobType')?.errors?.['required']">
                        Please select job type.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label> Mode <span class="required">*</span></label>
                <select formControlName="jobMode">
                    <option value="">Select Job Mode</option>
                    <option *ngFor="let jobmode of jobModes" [value]="jobmode.name">
                        {{ jobmode.name }}
                    </option>
                </select>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobMode')?.touched && addJobForm.get('jobMode')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobMode')?.errors?.['required']">
                        Please select job mode.
                    </small>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group">
                <label>Min Experience<span class="required">*</span></label>
                <select formControlName="startExp" (change)="handleExperience()">
                    <option value="">Select Min Experience</option>
                    <option *ngFor="let exp of startExperience" [value]="exp.id">
                        {{ exp.label }}
                    </option>
                </select>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('startExp')?.touched && addJobForm.get('startExp')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('startExp')?.errors?.['required']">
                        Min Experience must not be empty.
                    </small>

                    <small class="error-text" *ngIf="addJobForm.get('startExp')?.errors?.['maxlength']">
                        Min Experience must contain maximum 50 characters.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Max Experience <span class="required">*</span></label>
                <select formControlName="endExp" (change)="handleExperience()">
                    <option value="">Select Max Experience</option>
                    <option *ngFor="let exp of startExperience" [value]="exp.id">
                        {{ exp.label }}
                    </option>
                </select>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('endExp')?.touched && addJobForm.get('endExp')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('endExp')?.errors?.['required']">
                        Max Experience must not be empty.
                    </small>

                    <small class="error-text" *ngIf="addJobForm.get('endExp')?.errors?.['maxlength']">
                        Max Experience must contain maximum 50 characters.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label> Country <span class="required">*</span></label>
                <select formControlName="jobCountry">
                    <option value="">Select Job Country</option>
                    <option *ngFor="let c of countries" [value]="c.name">{{ c.name }}</option>
                </select>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobCountry')?.touched && addJobForm.get('jobCountry')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobCountry')?.errors?.['required']">
                        Please select job country.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label> Location <span class="required">*</span></label>
                <input type="text" formControlName="jobLocation" placeholder="Enter Job Location">
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobLocation')?.touched && addJobForm.get('jobLocation')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobLocation')?.errors?.['required']">
                        Job location is required.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobLocation')?.errors?.['maxlength']">
                        Job location must contain maximum 50 characters.
                    </small>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group full">
                <label> Requirements <span class="required">*</span></label>
                <textarea rows="4" formControlName="jobRequirements"></textarea>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobRequirements')?.touched && addJobForm.get('jobRequirements')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobRequirements')?.errors?.['required']">
                        Job requirements are required.
                    </small>

                    <small class="error-text" *ngIf="addJobForm.get('jobRequirements')?.errors?.['maxlength']">
                        Job requirements must contain maximum 5000 characters.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group full">
                <label>Job Description <span class="required">*</span></label>
                <textarea rows="4" formControlName="jobDescription"></textarea>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('jobDescription')?.touched && addJobForm.get('jobDescription')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('jobDescription')?.errors?.['required']">
                        Job description is required.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('jobDescription')?.errors?.['maxlength']">
                        Job description must contain maximum 5000 characters.
                    </small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group full">
                <label>Qualification <span class="required">*</span></label>
                <textarea rows="3" formControlName="qualification"></textarea>
                <div class="muted-text-error m-0"
                    *ngIf="addJobForm.get('qualification')?.touched && addJobForm.get('qualification')?.invalid"
                    style="text-align: left;">
                    <small class="error-text" *ngIf="addJobForm.get('qualification')?.errors?.['required']">
                        Qualification is required.
                    </small>
                    <small class="error-text" *ngIf="addJobForm.get('qualification')?.errors?.['maxlength']">
                        Qualification must contain maximum 255 characters.
                    </small>
                </div>
            </div>
        </div>

        <div class="skills-container">
            <label class="section-title">Required Skills <span class="required">*</span></label>

            <div class="skills-chip-wrapper">
                <span class="skill-chip" *ngFor="let skill of skills.controls; let i = index" >
                    {{ getSkillName(skill.value.skillId) }}
                    <i class="fa fa-times remove-icon" (click)="removeSkill(i)" *ngIf="skill.value.skillId"></i>
                </span>

                <button type="button" class="add-skill-btn" (click)="openSkillPopup()">
                    + Add Skill
                </button>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn-cancel" (click)="cancelForm()">Cancel</button>
            <button type="button" class="btn-submit" (click)="addJob()">
                {{editfield ? 'Update' : 'Save'}}
            </button>
        </div>

    </form>
</div>


<div class="modal-overlay" *ngIf="showSkillPopup">
    <div class="modal-box">

        <h3>Add Skill</h3>

        <div [formGroup]="tempSkillForm">


            <div class="form-group">
                <label>Skill <span class="required">*</span></label>
                <select class="form-select" formControlName="skillId">
                    <option value=''>Select Skill</option>
                    <option *ngFor="let s of jobSkills" [value]="s.skillId">
                        {{s.skillName}}
                    </option>
                </select>

                <div class="muted-text-error"
                    *ngIf="tempSkillForm.get('skillId')?.touched && tempSkillForm.get('skillId')?.invalid">
                    <small class="error-text">Skill is required.</small>
                </div>
            </div>

      
            <div class="form-group">
                <label>Skill Type <span class="required">*</span></label>

                <div class="d-flex gap-3">
                    <label>
                        <input type="radio" value="1" formControlName="categoryId"> Primary
                    </label>
                    <label>
                        <input type="radio" value="2" formControlName="categoryId"> Secondary
                    </label>
                </div>

                <div class="muted-text-error"
                    *ngIf="tempSkillForm.get('categoryId')?.touched && tempSkillForm.get('categoryId')?.invalid">
                    <small class="error-text">Skill type is required.</small>
                </div>
            </div>

            <!-- Weightage -->
            <div class="form-group">
                <label>Weightage <span class="required">*</span></label>
                <select class="form-select" formControlName="weightage">
                    <option value=''>Select</option>
                    <option *ngFor="let w of weight" [value]="w.name">{{w.name}}</option>
                </select>

                <div class="muted-text-error"
                    *ngIf="tempSkillForm.get('weightage')?.touched && tempSkillForm.get('weightage')?.invalid">
                    <small class="error-text">Weightage is required.</small>
                </div>
            </div>

            <!-- Experience -->
            <div class="form-group">
                <label>Experience Level <span class="required">*</span></label>
                <select class="form-select" formControlName="experienceLevel">
                    <option value=''>Select</option>
                    <option *ngFor="let e of skillExp" [value]="e.name">{{e.name}}</option>
                </select>

                <div class="muted-text-error"
                    *ngIf="tempSkillForm.get('experienceLevel')?.touched && tempSkillForm.get('experienceLevel')?.invalid">
                    <small class="error-text">Experience level is required.</small>
                </div>
            </div>

        </div>

        <!-- ACTIONS -->
        <div class="modal-actions">
            <button class="btn-cancel" (click)="closeSkillPopup()">Cancel</button>
            <button class="btn-submit" (click)="saveSkill()">Add</button>
        </div>

    </div>
</div>